# for fenced code blocks
snippet codehere "code blocks"
\`\`\` ${1:python}
$2
\`\`\`
$0
endsnippet

snippet today "insert date"
`date +%a\ %d-%m-%Y`
endsnippet

snippet todayalt "insert date"
`date +%a,\ %d\ %b\ %Y\ %H:%M:%S` +0000
endsnippet

snippet now
`date +%H:%M:%S`
endsnippet

