snippet func "vs function"
function! ${1:Name}(${2:params}, ${3:...}) ${4:range}
	$0
endfunction
endsnippet

snippet ffor "vs for loop"
for $1 in $2
	$0
endfor
endsnippet

snippet iif "vs if"
if $1
	$0
endif
endsnippet

snippet vmfld "Make fold in vim file"
" ${1:name} {{{
$2
" }}}
endsnippet

