*.log
*.swp
*.un~
*.o
*.h
*.bak
ranger/.config/ranger/bookmarks
ranger/.config/ranger/history
scripts/.local/bin
scripts/.local/etc
scripts/.local/lib
scripts/.local/share
vim/.vim/.netrwhist
vim/.vim/tmp
vim/.vim/bundle
**/**/cache_py*
**/**/pid
mpd/.config/mpd/state
mpd/.config/mpd/tag_cache
nvim/.config/nvim/autoload/
nvim/.config/nvim/plugged/
nvim/.config/nvim/session/
scripts/.local/usr/bin/renamer.sh
suckless/.config/suckless/dwm/dwm
suckless/.config/suckless/st/st
systemd/.config/systemd/user/default.target.wants/
nvim/.config/nvim/plugin/packer_compiled.vim
/simacs/.simacs_dir/backup-files/
/simacs/.simacs_dir/elpa/
/simacs/.simacs_dir/#init.el#
/simacs/.simacs_dir/%backup%~
/simacs/.simacs_dir/.extension/
/simacs/.simacs_dir/.lsp-session-v1
/simacs/.simacs_dir/auto-save-list/
/simacs/.simacs_dir/projectile-bookmarks.eld
/simacs/.simacs_dir/recentf
/simacs/.simacs_dir/tramp
/simacs/.simacs_dir/transient/
/simacs/.simacs_dir/custom-set-variables-data.el
