*.log
*.swp
*.un~
*.o
*.h
*.bak
ranger/.config/ranger/bookmarks
ranger/.config/ranger/history
scripts/.local/bin
scripts/.local/etc
scripts/.local/lib
scripts/.local/share
vim/.vim/.netrwhist
vim/.vim/tmp
vim/.vim/bundle
**/**/cache_py*
**/**/pid
mpd/.config/mpd/state
mpd/.config/mpd/tag_cache
nvim/.config/nvim/autoload/
nvim/.config/nvim/plugged/
nvim/.config/nvim/session/
scripts/.local/usr/bin/renamer.sh
suckless/.config/suckless/dwm/dwm
suckless/.config/suckless/st/st
systemd/.config/systemd/user/default.target.wants/
nvim/.config/nvim/plugin/packer_compiled.vim
