@import "./catppuccin.module.css";

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

window#waybar {
  background-color: rgba(43, 48, 59, 0.3);
  border-bottom: 3px solid rgba(100, 114, 125, 0.3);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
  margin-left: 3px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
  padding: 0px 12px 0px 2px;
  background-color: transparent;
  color: #ffffff;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
  background-color: #64727d;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#clock,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#custom-pacman,
#window,
#workspaces {
  /* margin: 0 4px; */
  padding: 0px 10px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  background-color: @Overlay1;
}

label:focus {
  background-color: #000000;
}

#custom-pacman {
  background-color: @Green;
  color: @Surface0;
}
#cpu {
  background-color: @Green;
  color: @Surface0;
}

#memory {
  background-color: @Mauve;
}

#disk {
  background-color: @Rosewater;
  color: @Surface0;
}

#backlight {
  background-color: @Teal;
  color: @Surface0;
}

#network {
  background-color: @Sapphire;
}

#network.disconnected {
  background-color: @Red;
}

#pulseaudio {
  background-color: @Yellow;
  color: #000000;
}

#pulseaudio.muted {
  background-color: @Teal;
  color: black;
}

#temperature {
  background-color: @Peach;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: @Surfce0;
}

#idle_inhibitor.activated {
  background-color: @Text;
  color: @Base;
}

#keyboard-state {
  background: @Green;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}
